body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-check-input {
  border: 1px solid #98a1ab !important;
  cursor: pointer;
}

.accordion-button:not(.collapsed) {
background-color: none !important;
box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25)
}

.accordion-button:active {
--bs-accordion-active-bg: none !important;
}

.btn:disabled, .btn-primary:disabled {
  background-color: #fff !important;
  border: 1px solid black !important;
  color: #000 !important;
}

.custom-offcanvas {
  width: 500px !important;
}

.Toastify__toast-container {
  min-width: 350px !important;
  width: auto !important;
}


/* progress bar styles*/

.stacked-bar {
  display: flex;
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-segment {
  height: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
}

.attempted {
  background-color: #7fc97f; /* green for attempted */
}

.revisit {
  background-color: #fdc086; /* Orange for revisit */
}

.unattempted {
  background-color: #ff9696; /* Red for unattempted */
}