.heading{
    color: #004384;
    font-weight: bold;
    font-size: 30px;
    margin-left: 15px;
}
.hrLine{
    margin-top: -1px;
    margin-left:13px;
    margin-right: 25px;
}
.sectionTitle{
    margin: 5px 0 !important;
    display: block;
}
